<h1>Página de registro de productos</h1>
<div class="control-section">
  <button class="btn-agregar" (click)="toggleFormAgregar()">Agregar nuevo producto</button>

  <div class="input-group-search">
    <i class="fas fa-search"></i>
    <input type="text" name="search-box" id="search-box" placeholder="Buscar...">
  </div>

  <button class="btn-filtro" (click)="toggleFiltro()">Filtro</button>
</div>
<div class="container_ind" *ngIf="data == ''">
  <img src="assets/img/no_data.svg" alt="no data" class="img_no_data" title="No se encontró información en la BD." >
  <h3 [ngClass]="{'active': data == ''}">No se encontró ningun registro</h3>
</div>


<div class="data" *ngIf="data != ''">
  <table>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Proveedor</th>
      <th>Precio</th>
      <th>Acción</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{item.codigo}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.proveedor}}</td>
      <td>{{item.precio}}</td>
      <td>
        <button class="btn-editar" (click)="toggleFormEditar();addDataEdit(item.codigo, item.nombre, item.descripcion, item.proveedor, item.precio)" >Editar</button>
        <button class="btn-eliminar" (click)="eliminar(item.codigo)">Eliminar</button>
      </td>
    </tr>
  </table>
</div>

<div class="overlay" [ngClass]="{'show': showFormAgregar, 'hide': !showFormAgregar}">
  <div class="form-agregar" (submit)="prevent($event)">
    <i class="fa fa-times cerrar" (click)="toggleFormAgregar()"></i>
    <h2>Agregar Producto</h2>
    <input type="text" placeholder="Codigo" [(ngModel)]="producto.codigo">
    <input type="text" placeholder="Nombre" [(ngModel)]="producto.nombre">
    <input type="text" placeholder="Descripción" [(ngModel)]="producto.descripcion">
    <input type="text" placeholder="Proveedor" [(ngModel)]="producto.proveedor">
    <input type="text" placeholder="Precio" [(ngModel)]="producto.precio">

    <button (click)="guardar()" >Agregar</button>
    <p class="mensaje">{{ resStringAdd }}</p>
  </div>
</div>

<div class="overlay" [ngClass]="{'show': showFormEditar, 'hide': !showFormEditar}">
  <div class="form-editar" (submit)="prevent($event)">
    <i class="fa fa-times cerrar" (click)="toggleFormEditar()"></i>
    <h2>Editar Producto</h2>
    <input type="text" placeholder="Codigo" [(ngModel)]="Editproducto.codigo">
    <input type="text" placeholder="Nombre" [(ngModel)]="Editproducto.nombre">
    <input type="text" placeholder="Descripción" [(ngModel)]="Editproducto.descripcion">
    <input type="text" placeholder="Proveedor" [(ngModel)]="Editproducto.proveedor">
    <input type="text" placeholder="Precio" [(ngModel)]="Editproducto.precio">

    <button (click)="editar()">Editar</button>
    <p class="mensaje">{{ resStringEdit }}</p>
  </div>
</div>

<div class="overlay" [ngClass]="{'show': showFiltro, 'hide': !showFiltro}">
 <div class="filtro" [ngClass]="{'show': showFiltro, 'hide': !showFiltro}">
   <i class="fas fa-times cerrar" (click)="toggleFiltro()"></i>
   <h2 class="filtro-title">
     Filtro de busqueda
   </h2>
   <p class="info">Puedes filtar la busqueza como quieras por nombre, descripción, etc.</p>

   <button (click)="cachDataFilter('nombre')" [ngClass]="{'activeButton':dataFilter == 'nombre'}">Nombre</button>
   <button (click)="cachDataFilter('descripcion')" [ngClass]="{'activeButton':dataFilter == 'descripcion'}">descripcion</button>
   <button (click)="cachDataFilter('proveedor')" [ngClass]="{'activeButton':dataFilter == 'proveedor'}">Proveedor</button>
   <button (click)="cachDataFilter('precio')" [ngClass]="{'activeButton':dataFilter == 'precio'}">Precio</button>
   <button class="todo" (click)="cachDataFilter('todo')" [ngClass]="{'activeButton':dataFilter == 'todo'}">Todo</button>

 </div>
</div>